[submodule "AO-Llama"]
	path = AO-Llama
	url = https://github.com/EntityOfCode/AO-Llama.git
[submodule "libs/tfhe"]
	path = libs/tfhe
	url = https://github.com/tfhe/tfhe.git
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/openssl/openssl.git
