# Build artifacts
build/
libs/*
!libs/openssl/

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Compiled files
*.wasm
*.so
*.a
*.o
scripts/key.json

!WcCLnB2zVpgkIJd5OECIJTbRXGjzbbPbyxrZemThpuI/process.wasm
